<!DOCTYPE html>
<html>
	<head>
		<title>Kyle Lucovsky's Resume</title>
		<meta charset="utf-8">
		<meta name="description" content="Kyle Lucovsky's resume: front-end web developer in San Francisco">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<link rel="stylesheet" href="static/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="static/css/main.css">
	</head>
	<body>
		<div id="wrapper">
			<header class="page-header">
				<h1>Kyle Lucovsky <small>Front-End Web Developer</small></h1>
				<div id="contact-info">
				San Francisco, CA | (805) 252-7299 | <a href="mailto:kyle@lucovsky.com">kyle@lucovsky.com</a>
			</div>
			</header>
			<div id="resume">
				<div class="row">
					<div class="span3">
						<h2>Objective</h2>
					</div>
					<div class="span9">
						<p>To draw on my product and marketing experience to build intuitive, semantic, responsive digital media experiences across all platforms. To collaborate with and learn from a web development team focused on optimizing the user experience.</p>
					</div>
				</div>
				<div class="row">
					<div class="span3">
						<h2>Technical</h2>
					</div>
					<div class="span9">
						<h4>Introduction</h4>
						<p><em>I began my foray into web development in May 2012, having spent most of my professional career on the digital marketing and product side. Check out my <a href="http://github.com/lkvsky" target="_blank">GitHub</a> to view code samples and projects.</em></p>
						<div class="row">
							<div class="span4">
								<h4>Languages and Skills</h4>
								<p>JavaScript, JQuery, CSS3, HTML5, DOM, Python</p>
							</div>
							<div class="span4">
								<h4>Frameworks and Tools</h4>
								<p>Backbone.js, Require.js, Grunt.js, Underscore.js, Handlebars.js, Jasmine</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span3">
						<h2>My Projects</h2>
					</div>
					<div class="span3 project-thumb">
						<img src="static/img/best-coast.png" class="thumbnail img-polaroid">
						<p>Best Coast Eats Local search for San Francisco</p>
					</div>
					<div class="span6">
						<h4><a href="http://bestcoasteats.appspot.com" target="_blank">Best Coast Eats Local</a></h4>
						<p>This is my first live project: a West Coast farmer's market finder and API mashup. I built this foundationally using the Google maps API and a USDA data-driven farmer's market API. The market API is not terribly performant, so I make use of the HTML5 Local Storage API for faster repeat visits. The info windows are templatized using Handlebars and trigger geo-location-based Flickr API calls.</p>
					</div>
				</div>
				<div class="row">
					<div class="span3 offset3 project-thumb">
						<img src="static/img/diva-hour.png" class="thumbnail img-polaroid">
						<p>Diva Power Hour admin interface</p>
					</div>
					<div class="span6">
						<h4><a href="http://www.github.com/lkvsky/music-video-app" target="_blank">Diva Power Hour</a></h4>
						<p>I'm currently developing a Backbone.js and Python-based music video app where users will be able to auto-generate, edit and save music video playlists. I'm also using Require.js for module loading, Grunt.js for concatination and minification. Visit my <a href="http://www.github.com/lkvsky/music-video-app" target="_blank">GitHub</a> to checkout my progress.</p>
					</div>
				</div>
				<hr>
				<h2>Professional Experience</h2>
				</div>
				<div class="job row">
					<div class="span3 job-title">
						<h4><a href="http://www.yahoo.com" target="_blank">Yahoo, Inc.</a></h4>
						<strong>Product Manager</strong>
						<br>
						<em>August 2011 - Now</em>
					</div>
					<div class="span9">
						<p>I draft product specifications for and help coordinate the build and iteration of a brand new set of publishing tools for Yahoo! editors worldwide. My focus has been on search: improving and optimizing how editors find content to make informed programming decisions. I am currently developing specs to re-imagine how editors publish and curate articles and blog posts for our media verticals.</p>
						<p>Additionally, I manage the product support and iteration of the company’s user-generated content platform, <a href="http://contributor.yahoo.com" target="_blank">Yahoo! Contributor Network</a>, and its applications in <a href="http://br.contribuidores.yahoo.com" target="_blank">Brazil</a> and the <a href="http://uk.contributor.yahoo.com" target="_blank">UK</a>. I helped oversee the Beta launches of both international versions.</p>
					</div>
				</div>
				<div class="job row">
					<div class="span3 job-title">
						<h4><a href="http://www.rubykobo.com" target="_blank">Ruby Kobo</a></h4>
						<strong>Sales Assistant</strong>
						<br>
						<em>September 2010 - March 2011</em>
					</div>
					<div class="span9">
						<p>My internship focused on assisting sales operations for Ruby Kobo’s costume jewelry line, <a href="http://www.shopshashi.com" target="_blank">Shashi</a>. I spent most of my time contacting new stores to increase Shashi sales in our target cities, drafting invoices with Adobe Quickbooks and updating the website with press and collection information.</p>
					</div>
				</div>
				<div class="job row">
					<div class="span3 job-title">
						<h4><a href="http://www.raspberryred.com" target="_blank">RaspberryRed</a></h4>
						<strong>Digital Marketing Intern</strong>
						<br>
						<em>May 2010 - September 2010</em>
					</div>
					<div class="span9">
						<p>I spent my time researching and composing a detailed site audit for one of RaspberryRed’s clients, recommending Search Engine Optimization techniques, site usability, and social media strategies. I used tools like <a href="http://adwords.google.com" target="_blank">Google AdWords</a>, <a href="http://webmasters.google.com" target="_blank">Google Webmasters</a> and <a href="http://analytics.google.com" target="_blank">Google Analytics</a> to detect sitemap issues and suggest keyword targeting.</p> 
						<p>To support another client, I wrote daily medical-related blog entries for <a href="http://www.vitals.com" target="_blank">Vitals.com</a>, applying our SEM and SEO techniques.</p>
					</div>
				</div>
				<div class="job row">
					<div class="span3 job-title">
						<h4><a href="http://www.timeinc.com" target="_blank">Time Inc.</a></h4>
						<strong>EW.com Content Management Intern</strong>
						<br>
						<em>November 2008 - August 2009</em>
					</div>
					<div class="span9">
						<p>My daily responsibilities involved HTML and SEO markup of current weekly articles and reviews, additionally adding and marking up older <em>Entertainment Weekly</em> issues for <a href="http://ew.com" target="_blank">EW.com</a>. Other regular duties included launching and managing EW's <a href="http://www.facebook.com/entertainmentweekly" target="_blank">Facebook</a> page and writing copy for the weekly EW.com newsletter.</p>
						<p>Outside of my standard scope of duties, I tracked down archived Michael Jackson coverage to aid our breaking news hub for the deceased artist. I also published two blog entries to the website’s award-winning PopWatch blog and an evergreen <a href="http://www.ew.com/ew/gallery/0,,20312226_20400366,00.html" target="_blank">photo gallery</a> documenting Lindsay Lohan’s career highs and lows.</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="span3">
						<h2>Education</h2>
					</div>
					<div class="span4">
						<h4><a href="http://www.nyu.edu" target="_blank">New York University</a></h4>
						<strong>B.A., Politics and Studio Art</strong>
						<p>I graduated in May 2011 with a GPA of 3.498, and made the Dean’s List fall 2007 and spring 2008</p>
					</div>
					<div class="span4">
						<h4><a href="http://www.pamelafox.org" target="_blank">Private Tutoring</a></h4>
						<p>I spent my post-work evenings over the past few months working with <a href="http://www.pamelafox.org" target="_blank">Pamela Fox</a>, who introduced me to web development with a focus on JavaScript and other modern skills/tools.
					</div>
				</div>
			</div>
			<hr>
			<footer>
				<a href="http://www.linkedin.com/pub/kyle-lucovsky/21/569/757" target="_blank">LinkedIn</a> |
				<a href="http://www.twitter.com/lkvsky" target="_blank">Twitter</a> |
				<a href="http://www.github.com/lkvsky" target="_blank">Github</a>
			</footer>
		</div>
	</body>
</html>